@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Location</th>
            <th>Start</th>
            <th>End</th>
            <th>Email From</th>
        </tr>
        <tr>
            <td>Philly</td>
            <td>2014-02-03</td>
            <td>2014-02-12</td>
            <td>Volvo</td>
        </tr>
    </table>
</div>