@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> 
    <h1>Repository</h1>
    <p class="lead">This site show you different ways of getting to the data highlighting nhibernate.</p>
    <p><a href="/Campaign/Index" class="btn btn-primary btn-large">View NHibernate &raquo;</a></p>
</div>

